<input type="radio" value="All" [(ngModel)]="select" (change)="change()">
<span>All({{all}})</span>
<input type="radio" value="male" [(ngModel)]="select" (change)="change()">
<span>Male({{male}})</span>
<input type="radio" value="female"[(ngModel)]="select" (change)="change()">
<span>Female({{female}})</span>


   <!--<select>
        <option value="">select</option>
    <option 
     type="radio" value="FE"[(ngModel)]="select" (change)="change()">
<span>FE({{fe}})</span>  </option>
    
    
    </select>
    --> 



<input type="radio" value="FE"[(ngModel)]="select" (change)="change()">
<span>FE({{fe}})</span>
<input type="radio" value="SE"[(ngModel)]="select" (change)="change()">
<span>SE({{se}})</span>

