<!--<nav >
    <a routerLink="/addition">Addition</a> &nbsp;&nbsp;
    <a routerLink="/array">Array</a>  &nbsp;&nbsp;
    <a routerLink="/account">Account</a>&nbsp;&nbsp;
    <a routerLink="/transfer">Transfer</a>&nbsp;&nbsp;
    <a routerLink="/Parent">Parent</a>&nbsp;&nbsp;
    <a routerLink="/parents">Parents</a>&nbsp;&nbsp;

    <a routerLink="/employeep">Employeep</a>&nbsp;&nbsp;
    <a routerLink="/ip-ot">input-output</a>&nbsp;&nbsp;
    <a routerLink="/service1">Service1</a>&nbsp;&nbsp;
    <a routerLink="/service2">Service2</a>&nbsp;&nbsp;
    <a routerLink="/pipe">Pipe</a>&nbsp;&nbsp;
    <a routerLink="/form">Form</a>&nbsp;&nbsp;
    <a routerLink="/register">Register</a>&nbsp;&nbsp;
    <a routerLink="/webservice">Webserice</a>&nbsp;&nbsp;
    <a routerLink="/AN-DJ">AN-DJ</a>&nbsp;&nbsp;
    <a routerLink="/log">log</a>&nbsp;&nbsp;
   
</nav>-->
<br><br>
<html>
    
    <div class="d11"></div>



    


<br><br>
</html>

<div class="main">
    <div class="submain1">
        <h1>this is advertise section</h1><br>
        <app-first></app-first>
        <br>
        

    </div>
    <div class="submain2">
       <a routerLink="/log" *ngIf="show">log</a>&nbsp;&nbsp;
        <router-outlet></router-outlet>
        <!-- <app-client-login></app-client-login>-->  
         


    </div>
    <div class="submain3">

        <h1>this is advertise section</h1><br>
        <app-client-server></app-client-server>
        <img src="assets/images/m.gif" alt="your browser does not support this format" width="150px" height="100px">


    </div>
</div>
<br>
<hr>-->


