<p>account works!</p>

<h4>check account details here</h4>

<input [(ngModel)]="myaccount1.myaccount1"><br><br>
<input id="a1" type="number"  [(ngModel)]="myaccount1.balance1"><br><br>
<input name="op"  type="number" [(ngModel)]="amount"><br><br>
<hr>
<input [(ngModel)]="account2.account2"><br><br>
<input type="number" [(ngModel)]="account2.balance2"><br><br>



<button type="submit" (click)="credit()">Credit</button>
<button type="submit" (click)="debate()">Debate</button>
<button type="submit" (click)="transfer()">Transfer</button>
